<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss.store.mapper.UserMapper">

    <resultMap id="UserEntityMap" type="com.zss.store.entity.User">
        <id column="uid" property="uid"></id>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
    <!--
        /**
     * 插入用户数据
     * @param user 用户数据
     * @return 受影响的行数
     */
    Integer insert(User user);
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into
        t_user
        (username,password,salt,phone,email,gender,avatar,is_delete,created_user,created_time,modified_user,modified_time)
        values
        (#{username},#{password},#{salt},#{phone},#{email},#{gender},#{avatar},#{isDelete},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
    </insert>

    <!--
        /**
     * 根据用户名查询用户数据
     * @param username 用户名
     * @return 匹配的用户数据，如果没有匹配的数据，则返回null
     */
    User findByUsername(@Param("username") String username);
    -->
    <select id="findByUsername" resultMap="UserEntityMap">
        select
        *
        from
        t_user
        where
        username = #{username}
    </select>

    <!--
        根据uid更新用户的密码：
        Integer updatePasswordByUid(
            @Param("uid") Integer uid,
            @Param("password") String password,
            @Param("modifiedUser") String modifiedUser,
            @Param("modifiedTime")Date modifiedTime);
    -->
    <update id="updatePasswordByUid">
        update t_user
        set
        password = #{password},
        modified_user = #{modifiedUser},
        modified_time = #{modifiedTime}
        where
        uid = #{uid}
    </update>

    <!--根据用户id查询用户数据：User findByUid(Integer uid);-->
    <select id="findByUid" resultMap="UserEntityMap">
        select *
        from
        t_user
        where
        uid = #{uid}
    </select>
</mapper>